@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5DC;
  --foreground: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Georgia', serif;
}